<header>
    <img src="images/back.png" @onclick='() => { navigation.NavigateTo("/"); }'/>
    <span>@(IsEdit ? "Edit" : "New")</span>
    <div style="width: 2rem;"></div>
</header>

@code {
    [Parameter]
    public  bool IsEdit {get; set;}
}