@page "/"

<HeaderIndex></HeaderIndex>

@if (_contacts is not null)
{
    <div class="contact-main">
        @foreach (var contact in _contacts.OrderBy(x => x.Name))
        {
            <ContactItem Contact="@contact"></ContactItem>
        }
    </div>
}

@code {
    private List<ContactInfo> _contacts;

    protected override async Task OnInitializedAsync()
    {
        _contacts = await contactRepository.GetAllAsync();
    }
}
