
<header>

    <div></div>

    <span>Lista de Contatos</span>

    <span @onclick='() => { navigation.NavigateTo($"/AddContactInfo/{Guid.Empty}");}' id="plus">
        <i class="oi oi-plus" ></i>
    </span>

</header>